<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>http</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>https</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>chowser</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chowser</string>
			</array>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://chowser.sreerams.in/appcast.xml</string>
	<key>SUBetaFeedURL</key>
	<string>https://chowser.sreerams.in/appcast-beta.xml</string>
	<key>SUPublicEDKey</key>
	<string>PLACEHOLDER_REPLACE_WITH_SPARKLE_EDDSA_PUBLIC_KEY</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>14400</integer>
</dict>
</plist>
